@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Akiba solution</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"> Bring Tech in Africa agriculture industries </a>.</p>
</div>

